<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Page2</key>
	<dict>
		<key>0</key>
		<dict>
			<key>start</key>
			<real>0.239572</real>
			<key>index</key>
			<integer>0</integer>
			<key>length</key>
			<integer>3</integer>
		</dict>
		<key>1</key>
		<dict>
			<key>start</key>
			<real>0.777522</real>
			<key>index</key>
			<integer>4</integer>
			<key>length</key>
			<integer>3</integer>
		</dict>
		<key>2</key>
		<dict>
			<key>start</key>
			<real>1.115101</real>
			<key>index</key>
			<integer>8</integer>
			<key>length</key>
			<integer>4</integer>
		</dict>
		<key>3</key>
		<dict>
			<key>start</key>
			<real>1.587712</real>
			<key>index</key>
			<integer>13</integer>
			<key>length</key>
			<integer>5</integer>
		</dict>
		<key>4</key>
		<dict>
			<key>start</key>
			<real>1.925292</real>
			<key>index</key>
			<integer>19</integer>
			<key>length</key>
			<integer>3</integer>
		</dict>
		<key>5</key>
		<dict>
			<key>start</key>
			<real>1.990629</real>
			<key>index</key>
			<integer>23</integer>
			<key>length</key>
			<integer>4</integer>
		</dict>
		<key>6</key>
		<dict>
			<key>start</key>
			<real>2.297718</real>
			<key>index</key>
			<integer>28</integer>
			<key>length</key>
			<integer>8</integer>
		</dict>
		<key>7</key>
		<dict>
			<key>start</key>
			<real>3.502114</real>
			<key>index</key>
			<integer>38</integer>
			<key>length</key>
			<integer>8</integer>
		</dict>
		<key>8</key>
		<dict>
			<key>start</key>
			<real>4.797983</real>
			<key>index</key>
			<integer>48</integer>
			<key>length</key>
			<integer>6</integer>
		</dict>
		<key>9</key>
		<dict>
			<key>start</key>
			<real>5.80201</real>
			<key>index</key>
			<integer>55</integer>
			<key>length</key>
			<integer>4</integer>
		</dict>
		<key>10</key>
		<dict>
			<key>start</key>
			<real>6.1287</real>
			<key>index</key>
			<integer>60</integer>
			<key>length</key>
			<integer>5</integer>
		</dict>
		<key>11</key>
		<dict>
			<key>start</key>
			<real>6.677538</real>
			<key>index</key>
			<integer>66</integer>
			<key>length</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>Page3</key>
	<dict>
		<key>0</key>
		<dict>
			<key>start</key>
			<real>0</real>
			<key>index</key>
			<integer>0</integer>
			<key>length</key>
			<integer>7</integer>
		</dict>
		<key>1</key>
		<dict>
			<key>start</key>
			<real>0.743685</real>
			<key>index</key>
			<integer>8</integer>
			<key>length</key>
			<integer>2</integer>
		</dict>
		<key>2</key>
		<dict>
			<key>start</key>
			<real>0.922647</real>
			<key>index</key>
			<integer>11</integer>
			<key>length</key>
			<integer>6</integer>
		</dict>
		<key>3</key>
		<dict>
			<key>start</key>
			<real>1.495325</real>
			<key>index</key>
			<integer>18</integer>
			<key>length</key>
			<integer>4</integer>
		</dict>
		<key>4</key>
		<dict>
			<key>start</key>
			<real>1.992441</real>
			<key>index</key>
			<integer>23</integer>
			<key>length</key>
			<integer>5</integer>
		</dict>
		<key>5</key>
		<dict>
			<key>start</key>
			<real>2.740103</real>
			<key>index</key>
			<integer>29</integer>
			<key>length</key>
			<integer>3</integer>
		</dict>
		<key>6</key>
		<dict>
			<key>start</key>
			<real>3.018488</real>
			<key>index</key>
			<integer>33</integer>
			<key>length</key>
			<integer>3</integer>
		</dict>
		<key>7</key>
		<dict>
			<key>start</key>
			<real>3.177565</real>
			<key>index</key>
			<integer>37</integer>
			<key>length</key>
			<integer>1</integer>
		</dict>
		<key>8</key>
		<dict>
			<key>start</key>
			<real>3.432088</real>
			<key>index</key>
			<integer>39</integer>
			<key>length</key>
			<integer>3</integer>
		</dict>
		<key>9</key>
		<dict>
			<key>start</key>
			<real>4.318943</real>
			<key>index</key>
			<integer>43</integer>
			<key>length</key>
			<integer>6</integer>
		</dict>
		<key>10</key>
		<dict>
			<key>start</key>
			<real>5.329083</real>
			<key>index</key>
			<integer>50</integer>
			<key>length</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>Page4</key>
	<dict>
		<key>0</key>
		<dict>
			<key>start</key>
			<real>0</real>
			<key>index</key>
			<integer>0</integer>
			<key>length</key>
			<integer>7</integer>
		</dict>
		<key>1</key>
		<dict>
			<key>start</key>
			<real>1.153865</real>
			<key>index</key>
			<integer>8</integer>
			<key>length</key>
			<integer>5</integer>
		</dict>
		<key>2</key>
		<dict>
			<key>start</key>
			<real>1.809471</real>
			<key>index</key>
			<integer>14</integer>
			<key>length</key>
			<integer>5</integer>
		</dict>
		<key>3</key>
		<dict>
			<key>start</key>
			<real>2.104493</real>
			<key>index</key>
			<integer>20</integer>
			<key>length</key>
			<integer>2</integer>
		</dict>
		<key>4</key>
		<dict>
			<key>start</key>
			<real>2.255282</real>
			<key>index</key>
			<integer>23</integer>
			<key>length</key>
			<integer>6</integer>
		</dict>
		<key>5</key>
		<dict>
			<key>start</key>
			<real>3.192798</real>
			<key>index</key>
			<integer>31</integer>
			<key>length</key>
			<integer>2</integer>
		</dict>
		<key>6</key>
		<dict>
			<key>start</key>
			<real>3.566493</real>
			<key>index</key>
			<integer>34</integer>
			<key>length</key>
			<integer>5</integer>
		</dict>
		<key>7</key>
		<dict>
			<key>start</key>
			<real>3.841847</real>
			<key>index</key>
			<integer>40</integer>
			<key>length</key>
			<integer>2</integer>
		</dict>
		<key>8</key>
		<dict>
			<key>start</key>
			<real>3.979524</real>
			<key>index</key>
			<integer>43</integer>
			<key>length</key>
			<integer>5</integer>
		</dict>
		<key>9</key>
		<dict>
			<key>start</key>
			<real>4.294215</real>
			<key>index</key>
			<integer>49</integer>
			<key>length</key>
			<integer>3</integer>
		</dict>
		<key>10</key>
		<dict>
			<key>start</key>
			<real>4.543345</real>
			<key>index</key>
			<integer>53</integer>
			<key>length</key>
			<integer>6</integer>
		</dict>
		<key>11</key>
		<dict>
			<key>start</key>
			<real>5.44808</real>
			<key>index</key>
			<integer>61</integer>
			<key>length</key>
			<integer>4</integer>
		</dict>
		<key>12</key>
		<dict>
			<key>start</key>
			<real>6.333147</real>
			<key>index</key>
			<integer>66</integer>
			<key>length</key>
			<integer>7</integer>
		</dict>
		<key>13</key>
		<dict>
			<key>start</key>
			<real>6.975641</real>
			<key>index</key>
			<integer>74</integer>
			<key>length</key>
			<integer>6</integer>
		</dict>
		<key>14</key>
		<dict>
			<key>start</key>
			<real>7.37556</real>
			<key>index</key>
			<integer>81</integer>
			<key>length</key>
			<integer>6</integer>
		</dict>
		<key>15</key>
		<dict>
			<key>start</key>
			<real>8.391748</real>
			<key>index</key>
			<integer>89</integer>
			<key>length</key>
			<integer>3</integer>
		</dict>
		<key>16</key>
		<dict>
			<key>start</key>
			<real>8.935900999999999</real>
			<key>index</key>
			<integer>93</integer>
			<key>length</key>
			<integer>4</integer>
		</dict>
		<key>17</key>
		<dict>
			<key>start</key>
			<real>9.604618</real>
			<key>index</key>
			<integer>98</integer>
			<key>length</key>
			<integer>3</integer>
		</dict>
		<key>18</key>
		<dict>
			<key>start</key>
			<real>10.378232</real>
			<key>index</key>
			<integer>102</integer>
			<key>length</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Page5</key>
	<dict>
		<key>0</key>
		<dict>
			<key>start</key>
			<real>0.298181</real>
			<key>index</key>
			<integer>0</integer>
			<key>length</key>
			<integer>2</integer>
		</dict>
		<key>1</key>
		<dict>
			<key>start</key>
			<real>0.980971</real>
			<key>index</key>
			<integer>3</integer>
			<key>length</key>
			<integer>4</integer>
		</dict>
		<key>2</key>
		<dict>
			<key>start</key>
			<real>1.387188</real>
			<key>index</key>
			<integer>8</integer>
			<key>length</key>
			<integer>5</integer>
		</dict>
		<key>3</key>
		<dict>
			<key>start</key>
			<real>1.763155</real>
			<key>index</key>
			<integer>14</integer>
			<key>length</key>
			<integer>8</integer>
		</dict>
		<key>4</key>
		<dict>
			<key>start</key>
			<real>2.052692</real>
			<key>index</key>
			<integer>23</integer>
			<key>length</key>
			<integer>4</integer>
		</dict>
		<key>5</key>
		<dict>
			<key>start</key>
			<real>2.31198</real>
			<key>index</key>
			<integer>28</integer>
			<key>length</key>
			<integer>4</integer>
		</dict>
		<key>6</key>
		<dict>
			<key>start</key>
			<real>2.467552</real>
			<key>index</key>
			<integer>33</integer>
			<key>length</key>
			<integer>3</integer>
		</dict>
		<key>7</key>
		<dict>
			<key>start</key>
			<real>2.649054</real>
			<key>index</key>
			<integer>37</integer>
			<key>length</key>
			<integer>7</integer>
		</dict>
		<key>8</key>
		<dict>
			<key>start</key>
			<real>3.902276</real>
			<key>index</key>
			<integer>46</integer>
			<key>length</key>
			<integer>4</integer>
		</dict>
		<key>9</key>
		<dict>
			<key>start</key>
			<real>4.524566</real>
			<key>index</key>
			<integer>51</integer>
			<key>length</key>
			<integer>4</integer>
		</dict>
		<key>10</key>
		<dict>
			<key>start</key>
			<real>4.835711</real>
			<key>index</key>
			<integer>56</integer>
			<key>length</key>
			<integer>5</integer>
		</dict>
		<key>11</key>
		<dict>
			<key>start</key>
			<real>5.328357</real>
			<key>index</key>
			<integer>62</integer>
			<key>length</key>
			<integer>3</integer>
		</dict>
		<key>12</key>
		<dict>
			<key>start</key>
			<real>5.591966</real>
			<key>index</key>
			<integer>66</integer>
			<key>length</key>
			<integer>6</integer>
		</dict>
		<key>13</key>
		<dict>
			<key>start</key>
			<real>6.140791</real>
			<key>index</key>
			<integer>73</integer>
			<key>length</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Page6</key>
	<dict>
		<key>0</key>
		<dict>
			<key>start</key>
			<real>0.380961</real>
			<key>index</key>
			<integer>0</integer>
			<key>length</key>
			<integer>4</integer>
		</dict>
		<key>1</key>
		<dict>
			<key>start</key>
			<real>0.84658</real>
			<key>index</key>
			<integer>5</integer>
			<key>length</key>
			<integer>7</integer>
		</dict>
		<key>2</key>
		<dict>
			<key>start</key>
			<real>1.295267</real>
			<key>index</key>
			<integer>13</integer>
			<key>length</key>
			<integer>6</integer>
		</dict>
		<key>3</key>
		<dict>
			<key>start</key>
			<real>1.671995</real>
			<key>index</key>
			<integer>20</integer>
			<key>length</key>
			<integer>3</integer>
		</dict>
		<key>4</key>
		<dict>
			<key>start</key>
			<real>1.904805</real>
			<key>index</key>
			<integer>24</integer>
			<key>length</key>
			<integer>8</integer>
		</dict>
		<key>5</key>
		<dict>
			<key>start</key>
			<real>2.366191</real>
			<key>index</key>
			<integer>33</integer>
			<key>length</key>
			<integer>7</integer>
		</dict>
		<key>6</key>
		<dict>
			<key>start</key>
			<real>2.937632</real>
			<key>index</key>
			<integer>41</integer>
			<key>length</key>
			<integer>4</integer>
		</dict>
		<key>7</key>
		<dict>
			<key>start</key>
			<real>3.724951</real>
			<key>index</key>
			<integer>47</integer>
			<key>length</key>
			<integer>4</integer>
		</dict>
		<key>8</key>
		<dict>
			<key>start</key>
			<real>4.118611</real>
			<key>index</key>
			<integer>52</integer>
			<key>length</key>
			<integer>4</integer>
		</dict>
		<key>9</key>
		<dict>
			<key>start</key>
			<real>4.423379</real>
			<key>index</key>
			<integer>57</integer>
			<key>length</key>
			<integer>9</integer>
		</dict>
		<key>10</key>
		<dict>
			<key>start</key>
			<real>5.003287</real>
			<key>index</key>
			<integer>67</integer>
			<key>length</key>
			<integer>4</integer>
		</dict>
		<key>11</key>
		<dict>
			<key>start</key>
			<real>5.303822</real>
			<key>index</key>
			<integer>72</integer>
			<key>length</key>
			<integer>8</integer>
		</dict>
		<key>12</key>
		<dict>
			<key>start</key>
			<real>5.900661</real>
			<key>index</key>
			<integer>80</integer>
			<key>length</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Page7</key>
	<dict>
		<key>0</key>
		<dict>
			<key>start</key>
			<real>0.474567</real>
			<key>index</key>
			<integer>0</integer>
			<key>length</key>
			<integer>7</integer>
		</dict>
		<key>1</key>
		<dict>
			<key>start</key>
			<real>1.196443</real>
			<key>index</key>
			<integer>8</integer>
			<key>length</key>
			<integer>6</integer>
		</dict>
		<key>2</key>
		<dict>
			<key>start</key>
			<real>1.938371</real>
			<key>index</key>
			<integer>15</integer>
			<key>length</key>
			<integer>5</integer>
		</dict>
		<key>3</key>
		<dict>
			<key>start</key>
			<real>2.225785</real>
			<key>index</key>
			<integer>21</integer>
			<key>length</key>
			<integer>3</integer>
		</dict>
		<key>4</key>
		<dict>
			<key>start</key>
			<real>2.459726</real>
			<key>index</key>
			<integer>25</integer>
			<key>length</key>
			<integer>5</integer>
		</dict>
		<key>5</key>
		<dict>
			<key>start</key>
			<real>3.348704</real>
			<key>index</key>
			<integer>32</integer>
			<key>length</key>
			<integer>2</integer>
		</dict>
		<key>6</key>
		<dict>
			<key>start</key>
			<real>3.749746</real>
			<key>index</key>
			<integer>35</integer>
			<key>length</key>
			<integer>6</integer>
		</dict>
		<key>7</key>
		<dict>
			<key>start</key>
			<real>4.271101</real>
			<key>index</key>
			<integer>42</integer>
			<key>length</key>
			<integer>3</integer>
		</dict>
		<key>8</key>
		<dict>
			<key>start</key>
			<real>4.491674</real>
			<key>index</key>
			<integer>46</integer>
			<key>length</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>Page7-2</key>
	<dict>
		<key>0</key>
		<dict>
			<key>start</key>
			<real>5.761642</real>
			<key>index</key>
			<integer>0</integer>
			<key>length</key>
			<integer>2</integer>
		</dict>
		<key>1</key>
		<dict>
			<key>start</key>
			<real>6.309733</real>
			<key>index</key>
			<integer>3</integer>
			<key>length</key>
			<integer>5</integer>
		</dict>
		<key>2</key>
		<dict>
			<key>start</key>
			<real>6.730827</real>
			<key>index</key>
			<integer>9</integer>
			<key>length</key>
			<integer>3</integer>
		</dict>
		<key>3</key>
		<dict>
			<key>start</key>
			<real>6.944717</real>
			<key>index</key>
			<integer>13</integer>
			<key>length</key>
			<integer>5</integer>
		</dict>
		<key>4</key>
		<dict>
			<key>start</key>
			<real>7.626489</real>
			<key>index</key>
			<integer>19</integer>
			<key>length</key>
			<integer>5</integer>
		</dict>
		<key>5</key>
		<dict>
			<key>start</key>
			<real>8.695935</real>
			<key>index</key>
			<integer>25</integer>
			<key>length</key>
			<integer>3</integer>
		</dict>
		<key>6</key>
		<dict>
			<key>start</key>
			<real>9.090293000000001</real>
			<key>index</key>
			<integer>29</integer>
			<key>length</key>
			<integer>3</integer>
		</dict>
		<key>7</key>
		<dict>
			<key>start</key>
			<real>9.578227999999999</real>
			<key>index</key>
			<integer>33</integer>
			<key>length</key>
			<integer>3</integer>
		</dict>
		<key>8</key>
		<dict>
			<key>start</key>
			<real>9.852274</real>
			<key>index</key>
			<integer>37</integer>
			<key>length</key>
			<integer>6</integer>
		</dict>
		<key>9</key>
		<dict>
			<key>start</key>
			<real>10.373629</real>
			<key>index</key>
			<integer>44</integer>
			<key>length</key>
			<integer>5</integer>
		</dict>
		<key>10</key>
		<dict>
			<key>start</key>
			<real>11.108873</real>
			<key>index</key>
			<integer>50</integer>
			<key>length</key>
			<integer>3</integer>
		</dict>
		<key>11</key>
		<dict>
			<key>start</key>
			<real>11.382919</real>
			<key>index</key>
			<integer>54</integer>
			<key>length</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>Page8</key>
	<dict>
		<key>0</key>
		<dict>
			<key>start</key>
			<real>0.506271</real>
			<key>index</key>
			<integer>0</integer>
			<key>length</key>
			<integer>7</integer>
		</dict>
		<key>1</key>
		<dict>
			<key>start</key>
			<real>1.143662</real>
			<key>index</key>
			<integer>8</integer>
			<key>length</key>
			<integer>5</integer>
		</dict>
		<key>2</key>
		<dict>
			<key>start</key>
			<real>1.613511</real>
			<key>index</key>
			<integer>14</integer>
			<key>length</key>
			<integer>2</integer>
		</dict>
		<key>3</key>
		<dict>
			<key>start</key>
			<real>1.744631</real>
			<key>index</key>
			<integer>17</integer>
			<key>length</key>
			<integer>5</integer>
		</dict>
		<key>4</key>
		<dict>
			<key>start</key>
			<real>1.959523</real>
			<key>index</key>
			<integer>23</integer>
			<key>length</key>
			<integer>4</integer>
		</dict>
		<key>5</key>
		<dict>
			<key>start</key>
			<real>2.305536</real>
			<key>index</key>
			<integer>28</integer>
			<key>length</key>
			<integer>3</integer>
		</dict>
		<key>6</key>
		<dict>
			<key>start</key>
			<real>2.534997</real>
			<key>index</key>
			<integer>32</integer>
			<key>length</key>
			<integer>3</integer>
		</dict>
		<key>7</key>
		<dict>
			<key>start</key>
			<real>2.789953</real>
			<key>index</key>
			<integer>36</integer>
			<key>length</key>
			<integer>6</integer>
		</dict>
		<key>8</key>
		<dict>
			<key>start</key>
			<real>3.28894</real>
			<key>index</key>
			<integer>43</integer>
			<key>length</key>
			<integer>3</integer>
		</dict>
		<key>9</key>
		<dict>
			<key>start</key>
			<real>3.922689</real>
			<key>index</key>
			<integer>47</integer>
			<key>length</key>
			<integer>4</integer>
		</dict>
		<key>10</key>
		<dict>
			<key>start</key>
			<real>4.177645</real>
			<key>index</key>
			<integer>52</integer>
			<key>length</key>
			<integer>3</integer>
		</dict>
		<key>11</key>
		<dict>
			<key>start</key>
			<real>4.450813</real>
			<key>index</key>
			<integer>56</integer>
			<key>length</key>
			<integer>8</integer>
		</dict>
		<key>12</key>
		<dict>
			<key>start</key>
			<real>5.088205</real>
			<key>index</key>
			<integer>65</integer>
			<key>length</key>
			<integer>7</integer>
		</dict>
		<key>13</key>
		<dict>
			<key>start</key>
			<real>5.375941</real>
			<key>index</key>
			<integer>73</integer>
			<key>length</key>
			<integer>5</integer>
		</dict>
		<key>14</key>
		<dict>
			<key>start</key>
			<real>5.660036</real>
			<key>index</key>
			<integer>79</integer>
			<key>length</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>Page9</key>
	<dict>
		<key>0</key>
		<dict>
			<key>start</key>
			<real>0.378182</real>
			<key>index</key>
			<integer>0</integer>
			<key>length</key>
			<integer>2</integer>
		</dict>
		<key>1</key>
		<dict>
			<key>start</key>
			<real>0.816077</real>
			<key>index</key>
			<integer>3</integer>
			<key>length</key>
			<integer>4</integer>
		</dict>
		<key>2</key>
		<dict>
			<key>start</key>
			<real>1.396620</real>
			<key>index</key>
			<integer>8</integer>
			<key>length</key>
			<integer>5</integer>
		</dict>
		<key>3</key>
		<dict>
			<key>start</key>
			<real>1.698502</real>
			<key>index</key>
			<integer>14</integer>
			<key>length</key>
			<integer>2</integer>
		</dict>
		<key>4</key>
		<dict>
			<key>start</key>
			<real>1.864371</real>
			<key>index</key>
			<integer>17</integer>
			<key>length</key>
			<integer>4</integer>
		</dict>
		<key>5</key>
		<dict>
			<key>start</key>
			<real>2.096588</real>
			<key>index</key>
			<integer>22</integer>
			<key>length</key>
			<integer>6</integer>
		</dict>
		<key>6</key>
		<dict>
			<key>start</key>
			<real>2.823095</real>
			<key>index</key>
			<integer>29</integer>
			<key>length</key>
			<integer>2</integer>
		</dict>
		<key>7</key>
		<dict>
			<key>start</key>
			<real>3.108391</real>
			<key>index</key>
			<integer>32</integer>
			<key>length</key>
			<integer>2</integer>
		</dict>
		<key>8</key>
		<dict>
			<key>start</key>
			<real>3.231134</real>
			<key>index</key>
			<integer>35</integer>
			<key>length</key>
			<integer>3</integer>
		</dict>
		<key>9</key>
		<dict>
			<key>start</key>
			<real>3.420225</real>
			<key>index</key>
			<integer>39</integer>
			<key>length</key>
			<integer>5</integer>
		</dict>
		<key>10</key>
		<dict>
			<key>start</key>
			<real>3.781820</real>
			<key>index</key>
			<integer>45</integer>
			<key>length</key>
			<integer>2</integer>
		</dict>
		<key>11</key>
		<dict>
			<key>start</key>
			<real>4.043894</real>
			<key>index</key>
			<integer>48</integer>
			<key>length</key>
			<integer>10</integer>
		</dict>
		<key>12</key>
		<dict>
			<key>start</key>
			<real>4.883192</real>
			<key>index</key>
			<integer>59</integer>
			<key>length</key>
			<integer>10</integer>
		</dict>
	</dict>
</dict>
</plist>
